<%= turbo_frame_tag :application_step do %>
  <%= form_with url: application_path(@application), method: :patch do |form| %>
    <%= form.hidden_field :step, value: Event::Application::APPLICATION_STEPS.find_index(:personal_info) %>

    <%= form.label :address_line1, "Street address" %>
    <div class="flex gap-2">
      <div class="field">
        <%= form.text_field :address_line1, placeholder: "1 Letterman Drive" %>
      </div>
      <div class="field">
        <%= form.text_field :address_line2, placeholder: "Suite 500" %>
      </div>
    </div>
    <div class="flex">
      <div class="field flex-auto mr1">
        <%= form.label :address_city, "City" %>
        <%= form.text_field :address_city, placeholder: "San Francisco" %>
      </div>
      <div class="field flex-auto ml1">
        <%= form.label :address_state, "State" %>
        <%= form.text_field :address_state, placeholder: "CA" %>
      </div>
    </div>
    <div class="flex gap-2">
      <div class="field flex-auto">
        <%= form.label :address_postal_code, "Zip code" %>
        <%= form.text_field :address_postal_code, placeholder: "94129" %>
      </div>
      <div class="field flex-auto">
        <%= form.label :address_country, "Country" %>
        <%= form.country_select :address_country, priority_countries: ["US"], priority_countries_divider: "", include_blank: "Select a country" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :referrer, "How did you hear about HCB?" %>
      <%= form.text_field :referrer %>
    </div>

    <div class="field">
      <%= form.label :referral_code, "Referral code" %>
      <%= form.text_field :referral_code %>
    </div>

    <div class="field">
      <%= form.label :notes, "Accessibility needs" %>
      <%= form.text_area :notes %>
    </div>

    <%= form.submit "Next" %>
  <% end %>
<% end %>
