<p>
Your HCB cards have been locked because you have <%= @hcb_codes.count %> <%= "receipt".pluralize(@hcb_codes.count) %> overdue past the 72-hour deadline.
</p>

<p>
Every receipt must be uploaded within 72 hours of the charge settling. Upload your receipts to unlock your cards.
</p>

<p>
You can manage your receipts on the HCB <%= link_to "receipts page", my_inbox_url %>.
</p>

<h3>Overdue receipts (<%= @hcb_codes.count %>)</h3>
<%= render "transactions_table", hcb_codes: @hcb_codes, show_org: @show_org %>

<% if @hcb_codes_approaching.any? %>
  <h3>Approaching deadline (due within 72 hours)</h3>
  <%= render "transactions_table", hcb_codes: @hcb_codes_approaching, show_org: @show_org %>
<% end %>
