<p>
You have transactions with receipts approaching the 72-hour upload deadline. If receipts are not uploaded in time, your cards will be locked.
</p>

<p>
You can manage your receipts on the HCB <%= link_to "receipts page", my_inbox_url %>.
</p>

<% if @hcb_codes.any? %>
  <h3>Overdue receipts (<%= @hcb_codes.count %>)</h3>
  <%= render "transactions_table", hcb_codes: @hcb_codes, show_org: @show_org %>
<% end %>

<% if @hcb_codes_approaching.any? %>
  <h3>Approaching deadline (<%= @hcb_codes_approaching.count %>)</h3>
  <%= render "transactions_table", hcb_codes: @hcb_codes_approaching, show_org: @show_org %>
<% end %>
