<%= turbo_stream.replace "pending_invitations" do %>
  <%= render "organizer_position_invites/pending_invitations", invites: @invites %>
<% end %>

<%= turbo_stream.append "flash-container" do %>
  <article role="alertdialog" class="flash flex items-center mt3 mb2 mx-auto shrink-none success" data-behavior="flash" data-turbo-temporary>
    <span style="flex-grow: 1"><%= flash[:success] %></span>
    <%= inline_icon "view-close", size: 32, class: "pointer" %>
  </article>
<% end %>
