<% title "Organization Account Numbers" %>

<%= form_with method: :get, class: "card overflow-visible" do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= form.text_field :q, value: params[:q], placeholder: "Search", class: "!max-w-full w-full" %>
    <div class="combobox-wrapper">
      <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
    </div>
    <%= form.select :account_number_type, [["All", "0"], ["Deposit only", "1"], ["Spend + Deposit", "2"]], selected: @account_number_type %>
  </div>
  <div class="flex items-center mt-2">
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <h4 class="flex-grow mt-4">
    <%= page_entries_info @account_numbers, entry_name: "Account Number" %>
  </h4>
  <%= paginate @account_numbers %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Account Number</th>
      <th>Routing Number</th>
      <th>Deposit Only</th>
    </tr>
  </thead>
  <tbody>
    <% @account_numbers.each do |an| %>
      <tr>
        <td><%= an.id %></td>
        <td>
          <%= link_to event_path(an.event) do %>
            <%= an.event.name.upcase %>
          <% end %>
          (#<%= an.event.id %>)
        </td>
        <td><%= an.account_number %></td>
        <td><%= an.routing_number %></td>
        <td><%= an.deposit_only ? "✅" : "🚫" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
