<% title "Payments" %>

<%= form_with method: :get, class: "card" do |form| %>
  <div class="flex items-center gap-2">
    <%= render "events/search", form: %>
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <h4 class="flex-grow mt-4">
    <%= page_entries_info @payments, entry_name: "employee payments" %>
  </h4>
</div>

<%= render "employees/payments", payments: @payments, show_stats: false %>

<%= paginate @payments %>
