<p>Hello,</p>

<p>
  <%= @event.name %> is looking to onboard you as a contractor through HCB!
</p>

<p>
  <%= link_to "Click here", contract_party_url(@party) %> to review and sign your contractor agreement.
</p>

<% missing_setup_steps = [("your tax information" if @position.tax_info_needed?), ("a payout method" if @position.payout_method_needed?)].compact %>
<% if missing_setup_steps.any? %>
  <p>
    In order to get paid, we also need <%= missing_setup_steps.to_sentence %>.
    Please <%= link_to "sign in to complete your onboarding", choose_legal_entity_payee_url(@payee) %>.
  </p>
<% end %>

<p>
  If you have any questions, please contact <%= @event.name %>.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>

<p><i class="muted"><%= @event.name %> is fiscally sponsored by The Hack Foundation (d.b.a. HCB), a 501(c)(3) nonprofit (EIN: 81-2908499).</i></p>
