<%# locals: (active:, legal_entities: nil, legal_entity: nil) %>
<span class="text-sm text-muted uppercase font-bold mt-6 block">
  <% if @user != current_user %>
    <%= @user.possessive_name %>
  <% end %>
  Settings
</span>
<h1 class="mt-0">
  <%= active.humanize %>
</h1>
<% if legal_entities&.many? %>
  <% entity_label = ->(le) { le.name.presence || (le.person? ? "Personal" : "Business") } %>
  <div data-controller="menu" data-menu-placement-value="bottom-start" class="inline-block">
    <a type="button" class="text-white text-base flex items-center -mt-1 gap-0.5 opacity-75 font-[500] cursor-pointer"
            data-menu-target="toggle"
            data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
      <%= entity_label.call(legal_entity) %>
      <%= inline_icon "down-caret", size: 20 %>
    </a>
    <div class="menu__content menu__content--2 h5 menu__content--compact" data-menu-target="content">
      <% legal_entities.each do |le| %>
        <%= link_to url_for(legal_entity_id: le.id), class: "flex items-center#{" bold" if le == legal_entity}" do %>
          <%= inline_icon(le.person? ? "person" : "bank-account", size: 24) %>
          <%= entity_label.call(le) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
