<%= turbo_frame_tag :admin_details do %>
  <div class="flex flex-col gap-4">
    <% if @user.transactions_missing_receipt.any? %>
      <% admin_tool "p-3" do %>
        <h3 class="mb2 mt1">Missing receipts</h3>
        <table>
          <% @user.transactions_missing_receipt.each do |tx| %>
            <%= render "canonical_transactions/canonical_transaction", ct: tx %>
          <% end %>
        </table>
      <% end %>
    <% end %>

    <% if @user.events.present? %>
      <% admin_tool "p-3" do %>
        <h3 class="mb2 mt1">Organizations</h3>
        <ul>
          <% @user.events.each do |event| %>
            <li><%= link_to "#{event.name} (#{render_money(event.balance_v2_cents)})", event_path(event), data: { turbo_frame: "_top" } %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <% if @user.email_updates.any? %>
      <% admin_tool "p-3" do %>
        <h3 class="mb2 mt1">Email updates</h3>
        <ul>
          <% @user.email_updates.confirmed.order(created_at: :desc).each do | update | %>
            <li>
              <%= update.created_at %>:
              <%= render_audit_log_value("Email", update.original, color: "primary") %> →
              <%= render_audit_log_value("Email", update.replacement, color: "success") %></li>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <% if @user.stripe_cards.present? %>
      <% admin_tool "p-3" do %>
        <h3 class="mb2 mt1">Stripe cards</h3>
        <table>
          <tr>
            <th>Last 4</th>
            <th>Card type</th>
            <th>Status</th>
            <th>Expires on</th>
            <th></th>
          </tr>
          <% @user.stripe_cards.each do |card| %>
            <tr>
              <td><%= card.last4 %></td>
              <td><%= card.card_type %></td>
              <td class="inline-flex items-center w-100">
                <% if card.status_text  == "Active" %>
                  Active
                <% elsif card.status_text == "Frozen" %>
                  <%= inline_icon "freeze", size: 25 %> Frozen
                <% elsif card.status_text == "Canceled" %>
                  <%= inline_icon "forbidden", size: 25 %> Canceled
                <% elsif card.status_text == "Inactive" %>
                  Inactive
                <% end %>
              </td>
              <td class="<%= "primary bold" if card.expired? %>"><%= Date.parse("#{card.stripe_exp_month}/#{card.stripe_exp_year}").strftime("%m/%y") %></td>
              <td><%= link_to "View", stripe_card_path(card), data: { turbo_frame: "_top" } %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>

    <%= turbo_frame_tag :admin_details_stripe_transactions, src: admin_details_stripe_transactions_user_path(@user), loading: :lazy do %>
      <% admin_tool "p-3" do %>
        <p>Loading user's stripe transactions</p>
      <% end %>
    <% end %>

    <% if @user.emburse_cards.present? %>
      <% admin_tool "p-3" do %>
        <h3 class="mb2 mt1">Emburse cards</h3>
        <table>
          <tr>
            <th>Last 4</th>
            <th>Status</th>
            <th>Expires on</th>
            <th></th>
          </tr>
          <% @user.emburse_cards.each do |card| %>
            <td><%= card.last_four %></td>
            <td class="inline-flex">
              <% if card.status_text == "active" %>
                Active
              <% elsif card.status_text == "suspended" %>
                <%= inline_icon "freeze", size: 25 %> Suspended
              <% elsif card.status_text == "unactivated" %>
                <%= inline_icon "forbidden", size: 25 %> Unactivated
              <% elsif card.status_text == "terminated" %>
                <%= inline_icon "forbidden", size: 25 %> Terminated
              <% end %>
            </td>
            <td><% Date.parse("#{card.expiration_month}/#{card.expiration_year}").strftime("%m/%y") %></td>
              <td><%= link_to "View", emburse_card_path(card), data: { turbo_frame: "_top" } %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_invoices, src: admin_details_invoices_user_path(@user), loading: :lazy do %>
        <p>Loading user's invoices</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_reimbursement_reports, src: admin_details_reimbursement_reports_user_path(@user), loading: :lazy do %>
        <p>Loading user's reimbursement reports</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_check_deposits, src: admin_details_check_deposits_user_path(@user), loading: :lazy do %>
        <p>Loading user's check deposits</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_increase_checks, src: admin_details_increase_checks_user_path(@user), loading: :lazy do %>
        <p>Loading user's increase checks</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_lob_checks, src: admin_details_lob_checks_user_path(@user), loading: :lazy do %>
        <p>Loading user's lob checks</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_ach_transfers, src: admin_details_ach_transfers_user_path(@user), loading: :lazy do %>
        <p>Loading user's ACH transfers</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_disbursements, src: admin_details_disbursements_user_path(@user), loading: :lazy do %>
        <p>Loading user's disbursements</p>
      <% end %>
    <% end %>
  </div>
<% end %>
