<p>Hello <%= @payment.payee.preferred_name %>,</p>

<p>
  We failed to send you your payment of <%= render_money(@payment.amount_cents) %>
  for <i>"<%= @payment.purpose %>"</i>:
</p>

<blockquote>
  <%= @reason %>
</blockquote>

<p>
  Please login to HCB to edit your payout information and retry the payment.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>

<p><i class="muted"><%= @payment.event.name %> is fiscally sponsored by The Hack Foundation (d.b.a. HCB), a 501(c)(3) nonprofit (EIN: 81-2908499).</i></p>
