<%# locals: (statement_of_activity:) %>

<%
  included_events = statement_of_activity.events
  category_totals = statement_of_activity.category_totals
  transactions_by_category = statement_of_activity.transactions_by_category
  transactions = transactions_by_category.values.flatten
  total_revenue = transactions.sum { |transaction| transaction.amount_cents.positive? ? transaction.amount_cents : 0 }
  total_expense = transactions.sum { |transaction| transaction.amount_cents.negative? ? transaction.amount_cents : 0 }
  net_asset_change = transactions.sum(&:amount_cents)
  show_organization_column = statement_of_activity.event_group.present? || statement_of_activity.include_descendants
%>

<h1 class="border-b-0">Statement of Activity</h1>

<div class="flex gap-4 items-center">
  <%= form_with(
        method: :get,
        data: { controller: "form" },
        class: "mb-0 flex-grow flex items-center gap-4"
      ) do |form| %>
    <div class="flex gap-2 items-center w-fit text-nowrap">
      <%= form.label(:start, "From") %>
      <%= form.date_field :start, value: statement_of_activity.start_date, data: { action: "change->form#submit" }, class: "mb-0" %>
      <%= form.label(:end, "To") %>
      <%= form.date_field :end, value: statement_of_activity.end_date, data: { action: "change->form#submit" }, class: "mb-0" %>
    </div>

    <div>
      <% if statement_of_activity.supports_descendants? %>
        <%= form.check_box(
              :include_descendants,
              checked: statement_of_activity.include_descendants,
              data: { action: "change->form#submit" },
              class: "mb-0"
            ) %>
        <%= form.label(:include_descendants, "Include descendants", class: "inline") %>
      <% end %>
    </div>
  <% end %>

  <%= link_to(
        {
          format: :xlsx,
          **params.permit(:include_descendants, :start, :end)
        },
        class: "btn btn-small"
      ) do %>
    <%= inline_icon "download" %>
    <small>Download XLSX</small>
  <% end %>
</div>

<hr class="my-4">

<p>
  From <%= statement_of_activity.start_date.strftime("%B %-d, %Y") %>
  to <%= statement_of_activity.end_date.strftime("%B %-d, %Y") %>,
  <% if statement_of_activity.event_group %>
    the <strong><%= statement_of_activity.event_group.name %></strong> event group
  <% else %>
    <strong><%= link_to statement_of_activity.event.name, statement_of_activity.event %></strong>
    <% if statement_of_activity.include_descendants %>
      and its descendants
    <% end %>
  <% end %>
  had a change in net assets
  of <%= render_money net_asset_change %>;
  after having raised <%= render_money total_revenue %> and
  spent <%= render_money total_expense.abs %>.
</p>

<% if statement_of_activity.event_group || statement_of_activity.include_descendants %>
  <details open>
    <summary>Included organizations (<%= included_events.count %>)</summary>
    <% if statement_of_activity.event_group && statement_of_activity.events.empty? %>
      <p>This group does not have any associated events</p>
    <% else %>
      <ul>
        <% included_events.each do |event| %>
          <li>
            <%= link_to(event.name, event_path(event)) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </details>
<% end %>

<% if transactions_by_category.empty? %>
  <p>There were no transactions in this date range.</p>
<% else %>
  <details open>
    <summary>Categories and transactions</summary>

    <% transactions_by_category.each do |category, category_transactions| %>
      <% category_name = category&.label || "Uncategorized" %>
      <% category_total = category_totals[category&.slug] %>

      <details>
        <summary>
          <%= category_name %>
          —
          <%= render_money category_total %>
          (<%= pluralize(category_transactions.count, "transaction") %>)
        </summary>

        <table>
          <thead>
          <tr>
            <th>Transaction Memo</th>
            <th>Amount</th>
            <% if show_organization_column %>
              <th>Organization</th>
            <% end %>
            <th>URL</th>
          </tr>
          </thead>
          <tbody>
          <% category_transactions.each do |transaction| %>
            <% transaction_url = transaction.local_hcb_code.present? ? url_for(transaction.local_hcb_code) : nil %>

            <tr>
              <td><%= transaction.memo %></td>
              <td><%= render_money transaction.amount_cents %></td>
              <% if show_organization_column %>
                <td><%= transaction.event.name %></td>
              <% end %>
              <td>
                <% if transaction_url.present? %>
                  <%= link_to "View transaction", transaction_url %>
                <% else %>
                  URL unavailable
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </details>
    <% end %>
  </details>
<% end %>
