<% title "Projects for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :projects %>

<h1 class="heading flex">
  <span class="flex-grow"><%= possessive(@event.name) %> projects</span>
  <%= link_to "#", class: "btn bg-success", data: { behavior: "modal_trigger", modal: "create" } do %>
    <%= inline_icon "plus" %>
    Create a project
  <% end %>
</h1>

<ul class="grid grid--medium-narrow left-align w-100 mt0">
  <%= render partial: "events/event_card", collection: @event.subevents, as: :event %>
</ul>

<section data-behavior="modal" role="dialog" id="create" class="modal modal--scroll bg-snow">
  <%= form_with(url: event_create_project_path(@event.slug), method: :post, html: { class: "[&_input]:max-w-full [&_textarea]:!max-w-full" }) do |form| %>
    <%= modal_header "Create a project" %>
    <div class="card border b--info mt2 mb2 container--sm mx-auto">
      <p class="mt0 mb0">
        Projects are subsidiary organisations of your organisation. All members of your organisation have access to the project, with
        the same permissions as on your organisation. You can also invite other users who only have access to the project.
      </p>
    </div>
    <div class="field">
      <%= form.label :name, "Project name", class: "bold mb1" %>
      <%= form.text_field :name, placeholder: "#{possessive(@event.name)} latest project" %>
    </div>
    <div class="inline-block">
      <%= form.submit "Create project", class: "mt1", disabled: @event&.demo_mode? %>
    </div>
  <% end %>
</section>
