<%# locals: (event:) %>

<% disabled = !policy(event).update? %>

<%= turbo_frame_tag :affiliations_settings do %>
  <h3 class="mb1">Add a new affiliation</h3>
  <div class="card mb3">

    <%= form_with(url: event_affiliations_path(event), local: true, html: { "x-data": "{ type: 'first' }" }) do |form| %>
      <%= render "events/settings/affiliation_form", affiliation: Event::Affiliation.new(event:), form: %>
    <% end %>
  </div>

  <% unless event.affiliations.none? %>
    <h3 class="mb2"><%= possessive(event.name) %> affiliations</h3>
  <% end %>
  <% event.affiliations.each do |affiliation| %>
    <div class="card mb2 flex justify-between items-center">
      <h4><%= affiliation.display_name %></h4>
      <div class="flex items-center justify-center">
        <div class="flex items-center justify-center">
          <%= pop_icon_to "edit",
            "#",
            class: "tooltipped tooltipped--w mr2 h-8 w-8", "aria-label": "Edit this affiliation",
            data: { behavior: "modal_trigger", modal: "edit_affiliation_#{affiliation.id}" },
            disabled: %>
          <section class="modal modal--scroll max-w-md bg-snow" data-behavior="modal" role="dialog" id="edit_affiliation_<%= affiliation.id %>">
            <%= modal_header("Edit affiliation") %>
            <%= form_with(url: event_affiliation_path(event, affiliation.id), method: :patch, local: true, html: { "x-data": "{ type: '#{affiliation.name}' }" }) do |form| %>
              <%= render "events/settings/affiliation_form", affiliation:, form: %>
            <% end %>
          </section>
        </div>
        <%= pop_icon_to "delete",
          event_affiliation_path(event, affiliation.id),
          method: :delete,
          icon_size: 26,
          class: "tooltipped tooltipped--w h-8 w-8",
          style: "background: #ec375020; color: #ec3750",
          'aria-label': "Delete this affiliation",
          disabled: %>
      </div>
    </div>
  <% end %>
<% end %>
