<% if @frame %>
  <div class="menu__divider m-0 my-8"></div>
<% end %>
<div data-controller="accordion" class="card mt-4">
  <div class="field field--checkbox mb0">
    <div>
      <span style="font-weight: 700">Enable donation tiers</span>
      <p class="text-muted mt-0.5 mb-0 text-sm">
        Offer preset monthly donation options with custom names, prices, and perks.
      </p>
    </div>
    <div class="field--checkbox--switch ml-auto" style="flex-shrink:0">
      <%= form_with(model: event, local: true) do |form| %>
        <%= form.label :donation_tiers_enabled do %>
          <%= form.check_box :donation_tiers_enabled,
            data: { action: "change->accordion#toggle", target: "accordion.checkbox" },
            disabled:,
            checked: @event.donation_tiers_enabled,
            onchange: "this.closest('form').requestSubmit();",
            switch: true %>
          <span class="slider"></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-accordion-target="content" class="rounded-xl">
    <div class="field mt-5">
      <%= form_with(url: event_donation_tiers_path(event), local: true, method: :patch) do |form| %>
        <% event.donation_tiers.each do |tier| %>
          <div class="card shadow-none border bg-gray-50 flex items-start gap-2 mb-2">
            <div class="border rounded-xl p-4 py-10 text-center bg-gray-100 text-gray-300 text-sm">
              Upload image
            </div>
            <div class="flex-1">
              <div class="flex gap-2 w-full">
                <input type="text" class="flex-1 !max-w-full" placeholder="Tier name" name="tiers[<%= tier.id %>][name]" value="<%= tier.name %>" required>
                <div class="flex items-center gap-2 border rounded-md px-3">
                  $
                  <input type="text" class="!border-none !px-0" style="max-width: 95px" placeholder="Monthly cost" name="tiers[<%= tier.id %>][amount_cents]" value="<%= tier.amount_cents / 100 %>" required>
                  /month
                </div>
              </div>
              <textarea class="w-100 max-w-full mt-1" placeholder="Description" name="tiers[<%= tier.id %>][description]"><%= tier.description %></textarea>
            </div>

            <div class="flex flex-col gap-1">
              <%= pop_icon_to "drag-indicator", "#" %>
              <%= pop_icon_to "delete", event_donation_tiers_path(event, tier), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>

        <div class="flex gap-3 mt-4">
          <button type="button" class="btn bg-muted flex-1 gap-2" onclick="document.getElementById('createTier').requestSubmit();">
            Create tier
            <%= inline_icon "plus" %>
          </button>
          <% unless event.donation_tiers.empty? %>
            <button type="submit" class="btn btn--primary flex-1 gap-2">
              Save changes
              <%= inline_icon "check-thin" %>
            </button>
          <% end %>
        </div>
      <% end %>
      <%= form_with(url: event_donation_tiers_path(event), local: true, method: :post, id: "createTier") do |form| %>
      <% end %>
    </div>
  </div>
</div>
