<% if @event.donation_tiers.size > 0 %>
  <h2 class="mt-8">Financial contributions</h2>
  <div class="mt-4 px-2 -mx-2 flex gap-4 overflow-x-auto whitespace-nowrap pb-2 mx-auto">
    <div class="card w-[250px] shrink-0 mb-8 flex flex-col">
      <h3 class="mb-0 mt-0">
        Custom
      </h3>
      <p class="text opacity-60 mb-2 flex-1 max-w-full break-words whitespace-normal">
        Pay a custom amount, one-time or recurring, to support <%= @event.name %>
      </p>
      <div class="flex-1"></div>
      <button class="w-full btn btn-primary mt-auto" data-action="donations#selectCustom">
        Continue
      </button>
    </div>
    <% @event.donation_tiers.each do |donation_tier| %>
      <div class="card w-[250px] shrink-0 mb-8 flex flex-col">
        <h3 class="mb-0 mt-0">
          <%= donation_tier.name %>
        </h3>
        <p class="text opacity-60 mb-3 flex-1 max-w-full break-words whitespace-normal">
          <%= donation_tier.description %>
        </p>
        <div class="flex-1"></div>
        <button class="w-full btn btn-primary mt-auto" data-action="donations#selectTier" data-donation-tier-id="<%= donation_tier.id %>">
           <%= render_money_short donation_tier.amount_cents %><span class="font-bold text-base opacity-60">/month</span>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
