<% hcb_code = item.hcb_code %>
<% event = @event || hcb_code&.event %>
<% tagged_with = hcb_code ? hcb_code.tags.select { |tag| !@event || tag.event == @event } : [] %>

<tr class="transaction transaction--<%= item.sign %>">
  <td class="transaction__icon">
    <div class="tooltipped tooltipped--e" aria-label="<%= item.humanized_type %>">
      <% if item.icon.is_a?(YellowPages::Merchant) %>
        <%= merchant_icon(item.icon, style: "height: 1.2em") %>
      <% else %>
        <%= inline_icon(item.icon, size: 32) %>
      <% end %>
    </div>
  </td>
  <td><%= item.datetime.strftime("%b %e, %Y") %></td>
  <td class="transaction__memo transaction__memo--fluid">
    <div>
      <div class="flex-auto">
        <div>
          <% if item.status.present? && !item.settled? %>
            <%= badge_for item.status_text, class: item.status_css %>
          <% end %>
          <%= item.memo %>
        </div>

        <% if hcb_code.present? && !event&.demo_mode? %>
          <div class="flex flex-wrap tags hcb_code_<%= hcb_code.hashid %>_tags" style="gap: 0.25rem">
            <%= render partial: "canonical_transactions/tag", collection: tagged_with, locals: { hcb_code: } %>
          </div>
        <% end %>
      </div>

      <% if hcb_code.present? && !event&.demo_mode? && event.present? && policy(hcb_code).toggle_tag? %>
        <div class="overflow-visible relative" style="margin-left: 0.5rem;" data-controller="menu">
          <button class="list-badge add-tag-badge ml0 menu__toggle menu__toggle--arrowless" data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">+ Add tag</button>
          <div class="menu__content menu__content--2 menu__content--compact menu__content--left text-sm" data-menu-target="content">
            <% event.tags.each do |tag| %>
              <div class="flex items-center" data-tag="<%= tag.id %>">
                <%= button_to toggle_tag_hcb_code_path(id: hcb_code.hashid, tag_id: tag.id), class: "menu__action #{tag_dom_id(hcb_code, tag, "_toggle")}", form_class: "flex-auto", form: { "data-turbo" => "true" } do %>
                  <%= render partial: "canonical_transactions/tag_icon", locals: { tag: } %>
                  <%= tag.label %>
                  <%= "✓" if tagged_with.include?(tag) %>
                <% end %>
                <%= button_to event_tag_path(event, tag), class: "menu__action", method: :delete, title: "Delete this tag", form: { "data-turbo" => "true", "data-turbo-confirm" => tag.removal_confirmation_message, "data-turbo-confirm-danger" => true } do %>
                  <%= inline_icon "delete", size: 18, style: "margin: 0" %>
                <% end %>
              </div>
            <% end %>
            <% if event.tags.any? %>
              <div class="menu__divider tags__divider"></div>
            <% end %>
            <%= render partial: "hcb_codes/create_tag", locals: { button: hcb_code.hashid } %>
          </div>
        </div>
      <% end %>
    </div>
  </td>
  <td class="nowrap">
    <span class="flex items-center justify-end">
      <%= list_badge_for auditor_signed_in? ? item.comment_count : item.not_admin_only_comment_count, "comment", "post", optional: true %>
      <%= list_badge_for item.receipt_count, "receipt", "payment-docs", optional: item.receipt_optional?, required: item.missing_receipt? %>
    </span>
  </td>
  <td class="nowrap">
    <span class="flex items-center justify-end">
      <% if !organizer_signed_in? && item.likely_account_verification_related? %>
        <%= redacted_amount %>
      <% else %>
        <%= item.amount.format %>
      <% end %>
    </span>
  </td>
  <% admin_tool("", "td") do %>
    <%= item.short_code %>
  <% end %>
  <td>
    <% if item.author.present? %>
      <div class="flex items-center justify-center tooltipped tooltipped--w" aria-label="<%= item.author.name %>">
        <%= avatar_for item.author, class: "align-middle author", cached: true %>
      </div>
    <% end %>
  </td>
  <td>
    <%= link_to "View", auditor_signed_in? ? ledger_item_path(item) : ledger_item_hcb_path(item), data: { turbo: false } %>
  </td>
</tr>
