<%# locals: (event:, invite_links:) %>

<% if invite_links.empty? %>
  <p><%= event.name %> does not currently have any active invite links</p>
<% else %>
  <ul class="grid grid-cols-1 text-left w-full mt-2">
    <% invite_links.each do |link| %>
      <li class="overflow-visible flex flex-row justify-between items-center gap-2">
        <span class="w-full flex gap-2 items-center align-middle">
            <div class="flex flex-col">
              <%= link_to link_url(link), class: "gap-1 my-0 font-bold flex items-center" do %>
                <%= inline_icon "link", size: 24 %>
                <%= link.hashid %>
              <% end %>
              <p class="my-0 text-sm flex items-center gap-1 text-muted">
                <%= link.created_at.strftime("%B %e, %Y") %> &bull;
                <%= user_mention link.creator %>&bull;
                Expires <%= distance_of_time_in_words(Time.now, link.expires_in.seconds.from_now) %>
              </p>
              <p class="my-0">Used <%= pluralize(link.requests.size, "times") %></p>
            </div>
            <div class="flex-grow"></div>
            <%= pop_icon_to "copy",
                            link_url(link),
                            class: "tooltipped",
                            data: {
                              clipboard_text: link_url(link),
                            },
                            "aria-label": "Copy link to clipboard" %>
            <%= pop_icon_to "delete",
                            deactivate_link_path(link),
                            class: "error tooltipped",
                            data: {
                              turbo_frame: "_top",
                              turbo_method: :post,
                              turbo_confirm: "Are you sure you want to deactivate this invite link?",
                            },
                            "aria-label": "Deactivate invite link",
                            disabled: !policy(link).deactivate? %>
        </span>
        <hr>
      </li>
    <% end %>
  </ul>
<% end %>
