<%= turbo_frame_tag :card_grant_card_overview do %>
  <div class="flex items-center gap-4 flex-col-reverse sm:flex-row mb-2">
    <%= form_with(model: false, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
      <%= render "events/filters/search", form: %>
    <% end %>
  </div>

  <% if @card_grants.any? %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>
              <%= link_to event_card_grant_card_overview_path(@event, sort: "status", direction: grants_sort_direction("status")),
                          class: "flex items-center",
                          title: "Sort by Status" do %>
                Status
                <%= inline_icon grants_sort_icon("status"), size: 24 %>
              <% end %>
            </th>
            <th>
              <%= link_to event_card_grant_card_overview_path(@event, sort: "date", direction: grants_sort_direction("date")),
                          class: "flex items-center",
                          title: "Sort by Date" do %>
                Date
                <%= inline_icon grants_sort_icon("date"), size: 24 %>
              <% end %>
            </th>
            <th>
              <%= link_to event_card_grant_card_overview_path(@event, sort: "to", direction: grants_sort_direction("to")),
                          class: "flex items-center",
                          title: "Sort by Recipient" do %>
                To
                <%= inline_icon grants_sort_icon("to"), size: 24 %>
              <% end %>
            </th>
            <th>
              <%= link_to event_card_grant_card_overview_path(@event, sort: "for", direction: grants_sort_direction("for")),
                          class: "flex items-center",
                          title: "Sort by Reason" do %>
                For
                <%= inline_icon grants_sort_icon("for"), size: 24 %>
              <% end %>
            </th>
            <th>
              <%= link_to event_card_grant_card_overview_path(@event, sort: "amount", direction: grants_sort_direction("amount")),
                          class: "flex items-center",
                          title: "Sort by Amount" do %>
                Amount
                <%= inline_icon grants_sort_icon("amount"), size: 24 %>
              <% end %>
            </th>
            <th class="text-right">
              <%= link_to event_card_grant_card_overview_path(@event, sort: "balance", direction: grants_sort_direction("balance")),
                          class: "flex items-center justify-end",
                          title: "Sort by Balance" do %>
                <%= inline_icon grants_sort_icon("balance"), size: 24 %>
                Balance
              <% end %>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @paginated_card_grants.each do |card_grant| %>
            <tr>
              <td>
                <span class="ml0 badge bg-<%= card_grant.state %>"><%= card_grant.state_text %></span>
              </td>
              <td>
                <%= format_date card_grant.created_at %>
              </td>
              <td>
                <%= user_mention card_grant.user %>
              </td>
              <td>
                <%= link_to card_grant.purpose.presence || card_grant.disbursement.local_hcb_code.memo, spending_card_grant_path(card_grant), data: { turbo_frame: "_top" } %>
              </td>
              <td>
                <%= render_money card_grant.amount_cents %>
              </td>
              <td class="text-right">
                <%= render_money card_grant.balance %>
              </td>
              <td>
                <%= render "events/card_grant_actions", card_grant: %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @paginated_card_grants %>
    </div>
  <% else %>
    <%= blankslate "No card grants yet" %>
  <% end %>
<% end %>
