<%= turbo_frame_tag :event_search do %>
    <%= form_with url: event_search_admin_index_path, method: :get, local: true, class: "mb-2 flex gap-2" do |f| %>
        <%= f.text_field :q, value: params[:q], autofocus: true, placeholder: "Search...", class: "w-full mb-0 shadow-none" %>
        <button type="submit">Search</button>

        <% request.query_parameters.except(:search).each do |key, value| %>
            <%= hidden_field_tag key, value %>
        <% end %>
    <% end %>
  <% events.each do |event| %>
    <%= link_to event.name, upsert_query_params_from_url(base_url, event_id: event.id), class: "menu__action #{"menu__action--active" if event.id.to_s == selected_event_id}", data: { turbo_frame: "_top", turbo_prefetch: "false" } %>
  <% end %>
  <% if events.empty? && params[:q].present? %>
    <div class="p-3 text-muted text-center">
      No events found matching "<%= params[:q] %>"
    </div>
  <% elsif events.empty? %>
    <div class="p-3 text-muted text-center">
      Type to search for an event by name or ID
    </div>
  <% end %>
<% end %>
