<p><%= @emails.length > 1 ? "Hi all," : "Hi there," %></p>

<p>
  <%= @whodunnit.name %> <%= "(an #{@is_manager ? "organization manager" : "HCB admin"})" if @whodunnit != User.system_user %> has disabled transparency mode for <%= @event.name %>.
  This means your organization is now private to unauthenticated users on HCB.
  <% if @visible_pages.any? %>
    Your
    <% @visible_pages.each_with_index do |page, i| %>
      <%= " and " if i == @visible_pages.size - 1 && @visible_pages.size > 1 %><%= link_to page[:name], page[:link] %><%= ", " if i < @visible_pages.size - 1 && @visible_pages.size > 2 %>
    <% end %>
    <%= @visible_pages.size > 1 ? "are" : "is" %> still visible to the public.
  <% end %>
</p>

<p>
  Managers can re-enable transparency mode at any time in <%= link_to "your organization settings", edit_event_url(@event) %>.
</p>

<p>
  From,<br>
  The HCB Team
</p>
