<%= turbo_frame_tag :user_search do %>
    <%= form_with url: user_search_admin_index_path, method: :get, local: true, class: "mb-2 flex gap-2" do |f| %>
        <%= f.text_field :q, value: params[:q], autofocus: true, placeholder: "Search...", class: "w-full mb-0 shadow-none" %>
        <button type="submit" class="pop">
            <%= inline_icon "search" %>
        </button>

        <% request.query_parameters.except(:search).each do |key, value| %>
            <%= hidden_field_tag key, value %>
        <% end %>
    <% end %>
  <% users.each do |user| %>
    <%= link_to user.name, upsert_query_params_from_url(base_url, user_id: user.id), class: "menu__action #{"menu__action--active" if user.id.to_s == selected_user_id}", data: { turbo_frame: "_top", turbo_prefetch: "false" } %>
  <% end %>
  <% if users.empty? && params[:q].present? %>
    <div class="p-3 text-muted text-center">
      No users found matching "<%= params[:q] %>"
    </div>
  <% elsif users.empty? %>
    <div class="p-3 text-muted text-center">
      Type to search for an user by name or ID
    </div>
  <% end %>
<% end %>
