<%= turbo_frame_tag "event_search" do %>
    <div data-controller="menu" data-menu-append-to-value="#format-menus">
      <button
        data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
        data-menu-target="toggle"
        class="btn"
        type="button">
        <%= inline_icon "person" %>
        <%= @user&.name || "User" %>
        <%= inline_icon "down-caret", size: 18 %>
      </button>

      <div data-menu-target="content" class="menu__content text-sm">
        <%= turbo_frame_tag "user_search",
          src: user_search_admin_index_path(q: params[:user_search], selected_user_id: user_id, base_url:),
          loading: :lazy do %>
            <div class="flex justify-center p-4">
                <%= inline_icon "loading" %>
            </div>
        <% end %>
    </div>
</div>
<% end %>
