<%# locals: (resource:, financial:) %>

<% what_is_today = Date.today.weekday? ? "a holiday" : "the weekend" %>

<% unless Date.today.workday? && false %>
  <%= render "application/callout", type: "warning", title: "#{financial ? "Banks are" : "HCB is"} closed", class: "mt-2 mb-0" do %>
    It is currently <%= what_is_today %> and <%= financial ? "all financial institutions are" : "HCB is" %> closed.
    <%= resource.pluralize.capitalize %> will be reviewed

    <% if financial %>
      on the <span class="tooltipped" aria-label="<%= 1.business_day.after(Date.today).strftime("%b %e, %Y") %>">next business day</span>.
    <% else %>
      within <span class="tooltipped" aria-label="<%= 2.business_days.after(Date.today).strftime("%b %e, %Y") %>">2 business days</span>.
    <% end %>
  <% end %>
<% end %>
