<%# locals: (receipts:, suggested_receipt_ids: []) %>

<div>
  <div class="receipt__search mb3 m0 p0">
    <input data-receipt-select-target="search" data-action="keyup->receipt-select#search" placeholder="Search" style="max-width: none;" type="text" id="q">
  </div>
  <span data-receipt-select-target="select" style="display: none;">
    <%= select_tag :receipt_id, options_from_collection_for_select(receipts, "id", "id"), include_blank: true %>
  </span>

  <ul class="grid grid--narrow left-align w-100 grid--spacious mt0 justify-center">
    <% receipts.each do |receipt| %>
      <li class="flex grid flex-col justify-between h-100 mx4 modal__<%= receipt.id %>" id="modal_receipt_<%= receipt.id %>">
        <%= render partial: "receipts/receipt", locals: { receipt:, selectable: true, textual_content: true, pairing: suggested_receipt_ids.include?(receipt.id), size: 169 } %>
      </li>
    <% end %>
  </ul>

  <%= blankslate "No receipts found.", class: "mt3 mb5", data: { "receipt-select-target": "noResults" }, style: "display: none;" %>
</div>
