<%# locals: (application:, allow_edits: false) %>

<% blank = capture do %>
  <em>Blank</em>
<% end %>

<div>
  <div class="flex items-center justify-between gap-4 mb-4">
    <h3 class="text-2xl my-0">Project Information</h3>
    <% if allow_edits %>
      <%= link_to project_info_application_path(application), class: "btn text-sm flex items-center gap-1" do %>
        <%= inline_icon "edit", size: 16 %>
        Edit
      <% end %>
    <% end %>
  </div>
  <div class="card card--breakdown p-4 space-y-4">
    <div>
      <p class="text-sm muted mb-1 mt-0">Project name</p>
      <p class="mb-0 font-medium"><%= application.name.present? ? application.name : blank %></p>
    </div>
    <div>
      <p class="text-sm muted mb-1">Project description</p>
      <p class="mb-0 whitespace-pre-wrap"><%= application.description.present? ? application.description : blank %></p>
    </div>
    <div>
      <p class="text-sm muted mb-1">Website</p>
      <p class="mb-0"><%= application.website_url.present? ? "Yes" : "No" %></p>
      <% if application.website_url.present? %>
        <p class="mb-0 whitespace-pre-wrap"><%= application.website_url %></p>
      <% end %>
    </div>
    <div>
      <p class="text-sm muted mb-1">Political activity involvement</p>
      <p class="mb-0"><%= application.political_description.present? ? "Yes" : "No" %></p>
      <% if application.political_description.present? %>
        <p class="mb-0 whitespace-pre-wrap"><%= application.political_description %></p>
      <% end %>
    </div>
  </div>
</div>

<div>
  <div class="flex items-center justify-between gap-4 mb-4">
    <h3 class="text-2xl my-0">Personal Information</h3>
    <% if allow_edits %>
      <%= link_to personal_info_application_path(application), class: "btn text-sm flex items-center gap-1" do %>
        <%= inline_icon "edit", size: 16 %>
        Edit
      <% end %>
    <% end %>
  </div>
  <div class="card card--breakdown p-4 space-y-4 mb-6">
    <div class="grid grid-cols-3 gap-4 items-end">
      <div>
        <p class="text-sm muted mb-1 mt-0">Street address</p>
        <p class="mb-0"><%= application.address_line1.present? ? application.address_line1 : blank %></p>
      </div>
      <div>
        <p class="mb-0"><%= application.address_line2.present? ? application.address_line2 : blank %></p>
      </div>
      <div>
        <p class="text-sm muted mb-1 mt-0">City</p>
        <p class="mb-0"><%= application.address_city.present? ? application.address_city : blank %></p>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-4">
      <div>
        <p class="text-sm muted mb-1">State</p>
        <p class="mb-0"><%= application.address_state.present? ? application.address_state : blank %></p>
      </div>
      <div>
        <p class="text-sm muted mb-1">Zip code</p>
        <p class="mb-0"><%= application.address_postal_code.present? ? application.address_postal_code : blank %></p>
      </div>
      <div>
        <p class="text-sm muted mb-1">Country</p>
        <p class="mb-0"><%= application.address_country.present? ? application.address_country : blank %></p>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="text-sm muted mb-1">How did you hear about HCB?</p>
        <p class="mb-0"><%= application.referrer.present? ? application.referrer : blank %></p>
      </div>
      <div>
        <p class="text-sm muted mb-1">Referral code</p>
        <p class="mb-0"><%= application.referral_code.present? ? application.referral_code : blank %></p>
      </div>
    </div>

    <% if application.notes.present? %>
      <div>
        <p class="text-sm muted mb-1">Accessibility needs</p>
        <p class="mb-0 whitespace-pre-wrap"><%= application.notes %></p>
      </div>
    <% end %>

    <% if application.user.teenager? && application.cosigner_email.present? %>
      <div>
        <p class="text-sm muted mb-1">Parent email</p>
        <p class="mb-0"><%= application.cosigner_email %></p>
      </div>
    <% end %>
  </div>
</div>

<% if defined?(@contract_signed) %>
  <div class="card card--breakdown p-4 mb-6 flex flex-row items-center justify-between">
    <div class="flex justify-start gap-1">
      <%= inline_icon "checkmark", size: 24, class: "align-top #{@contract_signed ? "text-green" : "text-red" }" %>
      <p class="font-medium my-0">
        Agreement <%= "not" unless @contract_signed %> signed
      </p>
    </div>
    <% unless @contract_signed %>
      <a class="btn text-sm" href="<%= agreement_application_path(application) %>">Sign</a>
    <% end %>
  </div>
<% end %>
