<div class="flex flex-row gap-4">
  <div class="flex flex-col flex-grow">
    <h2 class="text-4xl">
      Tell us about your project
    </h2>

    <p class="mt-0 text-lg muted">Help our team understand your mission</p>

    <div class="mb-12">
      <div class="flex flex-col gap-5 h-10">
      </div>
    </div>

    <div class="max-w-lg card flex flex-col gap-4 card--sunken">
      <h3 class="text-lg my-0">Need help?</h3>
      <p class="my-0">Email questions to <%= link_to "hcb@hackclub.com", "mailto:hcb@hackclub.com" %> or give us a call at <%= link_to "+1 (844) 237-2290", "tel:+18442372290", class: "text-nowrap" %>.</p>
    </div>
  </div>
  <div class="flex flex-col flex-grow">
    <%= form_with model: @application, url: application_path(@application), method: :patch, id: "edit_application_#{@application.id}" do |form| %>

      <div class="field">
        <%= form.label :name, "Project name" %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :description, "Tell us about your project" %>
        <%= form.text_area :description %>
      </div>

      <div class="field">
        <%= form.label :political, "Is your project involved with political activity?" %>
        <%= form.select :political, options_for_select([["Yes", true], ["No", false]]) %>
      </div>

      <%= form.hidden_field :return_to, value: application_personal_info_path(@application) %>
    <% end %>
  </div>
</div>

<% content_for :footer do %>
  <%= link_to "Back", application_path(@application), class: "btn" %>
  <button class="btn" form="edit_application_<%= @application.id %>">Continue</button>
<% end %>
