<% title @application.draft? ? "Apply" : "Application status" %>

<% if @application.draft? %>
  <%= render partial: "begin", locals: { application: @application } %>
<% else %>
  <% primary_divider = capture do %>
    <span class="flex relative">
      <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 h-full w-4 bg-primary flex z-20" style="clip-path: polygon(0px 0px, calc(100% - 1px) 0px, 1px 100%, 0px 100%);"></div>
      <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 h-full w-4 bg-white flex z-10" style="clip-path: polygon(0.5px 0px, 100% 0px, 2px 100%, 0.5px 100%);"></div>
      <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-[calc(50%_-_1px)] h-full w-4 bg-smoke flex"></div>
    </span>
  <% end %>
  <% muted_divider = capture do %>
    <span class="flex relative">
      <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 h-full w-4 bg-smoke flex z-20" style="clip-path: polygon(0px 0px, calc(100% - 1px) 0px, 1px 100%, 0px 100%);"></div>
      <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 h-full w-4 bg-white flex z-10" style="clip-path: polygon(0.5px 0px, 100% 0px, 2px 100%, 0.5px 100%);"></div>
      <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-[calc(50%_-_1px)] h-full w-4 bg-smoke flex"></div>
    </span>
  <% end %>

  <div class="flex flex-col gap-3 w-full items-start md:items-center justify-start mt-6">
    <div class="mb-4 w-max rounded-full bg-smoke snow bold flex flex-row overflow-hidden items-stretch [&>div]:py-3 [&>div]:px-5 text-black">
      <div class="bg-primary snow">
        ➀ Sign agreement
      </div>
      <%= primary_divider %>
      <div>
        ➁ Await review
      </div>
      <%= muted_divider %>
      <div>
        ➂ Start spending
      </div>
    </div>
    <h2 class="text-3xl md:text-4xl m-0">Your application has been submitted!</h2>
    <h3 class="m-0 muted">Here's what comes next</h3>
  </div>
  <div class="flex flex-col mt-9 items-center justify-start">
    <div class="flex flex-col gap-3 w-full max-w-4xl">
      <div class="flex flex-row gap-3 items-start justify-start">
        <div class="flex items-center justify-center rounded-full border border-gray-300 h-8 w-8 shrink-0">
          1
        </div>
        <div>
          <h3 class="mb-0 mt-1">Sign the Fiscal Sponsorship Agreement</h3>
          <% if @application.submitted? %>
            <% if @application.contract.party(:cosigner)&.pending? %>
              <% if @application.contract.party(:signee).signed? %>
                <p>Your parent or legal guardian (<%= @application.cosigner_email %>) needs to sign the agreement before we can review your application.</p>
              <% else %>
                <p>You (<%= @application.user.email %>) and your parent or legal guardian (<%= @application.cosigner_email %>) need to sign the agreement before we can review your application.</p>
              <% end %>
            <% else %>
              <p>You (<%= @application.user.email %>) need to sign the agreement before we can review your application.</p>
            <% end %>

            <div class="flex gap-3">
              <% if @application.contract.party(:signee).pending? %>
                <a href="<%= agreement_application_path(@application) %>" class="btn">Sign the agreement</a>
              <% end %>

              <% if @application.contract.party(:cosigner)&.pending? %>
                <%= link_to resend_contract_party_path(@application.contract.party(:cosigner)), class: "btn", data: { turbo_method: :post } do %>
                  Resend agreement to parent
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex flex-row gap-3 items-start justify-start">
        <div class="flex items-center justify-center rounded-full border border-gray-300 h-8 w-8 shrink-0">
          2
        </div>
        <div>
          <h3 class="mb-0 mt-1">Wait for a response from the HCB team</h3>
          <p>Our operations team will review your application and respond within 24 hours.</p>
        </div>
      </div>
      <div class="flex flex-row gap-3 items-start justify-start">
        <div class="flex items-center justify-center rounded-full border border-gray-300 h-8 w-8 shrink-0">
          3
        </div>
        <div>
          <h3 class="mb-0 mt-1">Start spending!</h3>
          <p>You'll have access to your organization to begin raising and spending money.</p>
        </div>
      </div>
    </div>
  </div>

  <% content_for :footer do %>
    <span></span>
    <%= link_to "View submission", submission_application_path(@application), class: "btn bg-muted" %>
  <% end %>
<% end %>
