<% title "Apply" %>

<% if @application.draft? %>
  <%= render partial: "begin", locals: { application: @application } %>
<% else %>
  <div class="flex flex-col gap-3 w-full items-start md:items-center justify-start mt-6">
    <h2 class="text-3xl md:text-4xl m-0">Your application has been submitted!</h2>
    <h3 class="m-0 muted">Here's what comes next</h3>
  </div>
  <div class="flex flex-col mt-9 items-center justify-start">
    <div class="flex flex-col gap-3 w-full max-w-4xl">
      <% @steps.each_with_index do |step, i| %>
        <div class="flex flex-row gap-3 items-start justify-start">
          <div class="flex items-center justify-center rounded-full border border-gray-300 h-8 w-8 shrink-0">
            <%= i + 1 %>
          </div>
          <div>
            <h3 class="mb-0 mt-1"><%= step[:title] %></h3>
            <p><%= step[:description] %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% content_for :footer do %>
    <span></span>
    <%= link_to "View submission", submission_application_path(@application), class: "btn bg-muted" %>
  <% end %>
<% end %>
