<% title @application.draft? ? "Apply" : "Application status" %>

<% if @application.draft? %>
  <%= render partial: "begin", locals: { application: @application } %>
<% else %>
  <div class="flex flex-col gap-3 w-full items-start md:items-center justify-start mt-6">
    <%= render partial: "progress_bar", locals: { steps: @steps } %>
    <h2 class="text-3xl md:text-4xl m-0">
      <% if @application.approved? %>
        Your application has been approved!
      <% else %>
        Your application has been submitted!
      <% end %>
    </h2>

    <h3 class="m-0 muted">
      <% if !@application.approved? || @application.contract.party(:signee).pending? || @application.contract.party(:cosigner)&.pending? %>
        Here's what's next for <%= @application.name %>
      <% elsif @application.approved? && @application.contract.party(:hcb).pending? %>
        HCB is finalizing your contact
      <% else %>
        You're ready to start spending
      <% end %>
    </h3>
  </div>
  <div class="flex flex-col mt-9 items-center justify-start">
    <div class="flex flex-col gap-3 w-full max-w-4xl">
      <% @steps[1..].each_with_index do |step, index| %>
        <div class="flex flex-row gap-3 items-start justify-start">
          <div class="flex items-center justify-center rounded-full border border-gray-300 h-8 w-8 shrink-0">
            <%= index + 1 %>
          </div>
          <div>
            <h3 class="mb-0 mt-1"><%= step[:name] %></h3>
            <% unless step[:completed] %>
              <p class="my-1"><%= step[:description] %></p>

              <% if step[:label] == "Sign agreement" && @application.contract.present? %>
                <div class="flex gap-2 sm:gap-3 flex-col sm:flex-row">
                  <% if @application.contract.party(:signee).pending? %>
                    <a href="<%= agreement_application_path(@application) %>" class="btn">Sign the agreement</a>
                  <% end %>

                  <% if @application.contract.party(:cosigner)&.pending? %>
                    <%= link_to resend_contract_party_path(@application.contract.party(:cosigner)), class: "btn", data: { turbo_method: :post } do %>
                      Resend agreement to parent
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% content_for :footer do %>
    <%= link_to "Back to dashboard", applications_path, class: "btn bg-muted flex-shrink-0" %>

    <div class="w-full flex-grow flex items-center justify-end gap-4">
      <% admin_tool do %>
        <%= link_to "View in Airtable", airtable_application_path(@application), class: "btn bg-blue", target: "_blank" %>
      <% end %>
      <%= link_to "View submission", submission_application_path(@application), class: "btn bg-muted" %>
    </div>
  <% end %>
<% end %>
