<%= turbo_frame_tag :subscriptions_list do %>
  <% unless @subscriptions.empty? %>
    <h2>Subscriptions</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Card</th>
          <th>Amount</th>
          <th>Every</th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <td><%= subscription.merchant %></td>
            <td><%= StripeCard.find_by(stripe_id: subscription.card).last4 %></td>
            <td><%= render_money(HcbCode.find_by(hcb_code: subscription.last_hcb_code).amount_cents) %></td>
            <td><%= subscription.average_date_difference %> days</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
