<% vertical_style = defined?(vertical) && vertical %>

<div
  data-controller="menu"
  class="inline-flex items-center"
  data-menu-append-to-value="turbo-frame#ledger"
  data-menu-placement-value="bottom-start">

  <button
    type="button"
    class="pop my-2 cursor-pointer tooltipped tooltipped--s"
    aria-label="Add filters..."
    data-menu-target="toggle"
    data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
    <%= inline_icon "filter", size: 28 %>
  </button>

  <div class="menu__content menu__content--2 menu__content--compact h5 <%= "w-[350px] h-[400px] p-0" if vertical_style %>" data-menu-target="content" data-controller="filter">
    <div data-controller="tabs" data-tabs-default-tab-value="<%= filters[0][:label] %>" class="<%= "grid grid-cols-3 h-full gap-0" if vertical_style %>">
      <div class="<%= "bg-[rgba(200,200,200,.3)] flex flex-col items-start gap-1 p-3" if vertical_style %>">
        <% filters.each do |filter| %>
          <button
            id="<%= filter[:label] %>"
            data-tabs-target="btn"
            data-action="tabs#select">
            <%= filter[:label].humanize %>
          </button>
        <% end %>
      </div>

      <% unless vertical_style %>
        <div class="menu__divider"></div>
      <% end %>

      <% filters.each do |filter| %>
        <div data-tabs-target="tab" id="<%= filter[:label] %>" class="col-span-2 <%= "p-2" if vertical_style %>">
          <% case filter[:type] %>
            <% when "select" %>
              <% if filter[:options].empty? %>
                <p class="p-1 text-center">No <%= filter[:label].pluralize %> found</p>
              <% end %>
              <% filter[:options].each do |option| %>
                <% label, value = option.is_a?(Array) ? option : [option.humanize, option] %>
                <%= link_to label,
                            defined?(base_url) && base_url ? upsert_query_params_from_url(base_url, filter[:key] => value) : upsert_query_params(filter[:key] => value),
                            class: "menu__action !border-none #{'menu__action--active' if params[filter[:key]] == value.to_s}" %>
              <% end %>

            <% when "date_range" %>
                <%= form_with(
                      model: false,
                      local: true,
                      method: :get,
                      url: (defined?(base_url) && base_url ? base_url : request.url),
                      class: "flex-auto"
                    ) do |form| %>
                <div
                  data-controller="date-range-picker"
                  data-date-range-picker-initial-start-value="<%= params["#{filter[:key_base]}_after"] %>"
                  data-date-range-picker-initial-end-value="<%= params["#{filter[:key_base]}_before"] %>"
                  data-date-range-picker-name-start-value="<%= filter[:key_base] %>_after"
                  data-date-range-picker-name-end-value="<%= filter[:key_base] %>_before"></div>
                <% request.query_parameters.except("#{filter[:key_base]}_before", "#{filter[:key_base]}_after").each do |k, v| %>
                  <%= hidden_field_tag k, v %>
                <% end %>
              <% end %>
            <% when "user_select" %>
              <%= turbo_frame_tag "user_select",
                  loading: "lazy",
                  src: event_user_select_path(
                    @event,
                    filter_key: filter[:key],
                    selected: params[filter[:key]],
                    url: defined?(base_url) && base_url ? base_url : request.url
                  ) do %>
                Loading...
              <% end %>
            <% when "category_select" %>
              <%= turbo_frame_tag "category_select",
                  loading: "lazy",
                  src: event_category_select_path(
                    @event,
                    filter_key: filter[:key],
                    selected: params[filter[:key]],
                    url: defined?(base_url) && base_url ? base_url : request.url
                  ) do %>
                Loading...
              <% end %>
            <% when "tag_select" %>
              <%= turbo_frame_tag "tag_select",
                  loading: "lazy",
                  src: event_tag_select_path(
                    @event,
                    filter_key: filter[:key],
                    selected: params[filter[:key]],
                    url: defined?(base_url) && base_url ? base_url : request.url
                  ) do %>
                Loading...
              <% end %>
            <% when "merchant_select" %>
              <%= turbo_frame_tag "merchant_select",
                  loading: "lazy",
                  src: event_merchant_select_path(
                    @event,
                    filter_key: filter[:key],
                    selected: params[filter[:key]],
                    url: defined?(base_url) && base_url ? base_url : request.url
                  ) do %>
                Loading...
              <% end %>
            <% when "amount_range" %>
              <%= form_with(model: false, url: defined?(base_url) && base_url ? base_url : request.url, local: true, method: :get, class: "flex-auto p1") do |form| %>
                <div
                  data-controller="range-slider"
                  data-range-slider-min-value="<%= filter[:range][0] %>"
                  data-range-slider-max-value="<%= filter[:range][1] %>"
                  data-range-slider-low-value="<%= params[filter[:key_base] + "_greater_than"] %>"
                  data-range-slider-high-value="<%= params[filter[:key_base] + "_less_than"] %>"
                  data-range-slider-key-base-value="<%= filter[:key_base] %>"
                  data-action="range:change->filters#updatePrice">
                  <div data-range-slider-target="root" class="w-full select-none"></div>
                </div>

                <% if filter[:display_direction] %>
                  <div class="mt-11 uppercase opacity-50 font-bold block pl-1">Direction</div>
                  <% %w[revenue expenses].each do |value| %>
                    <%= link_to value.capitalize,
                      defined?(base_url) && base_url ? upsert_query_params_from_url(base_url, "direction" => value) : upsert_query_params(filter[:key] => value),
                      class: "menu__action !border-none #{'menu__action--active' if params["direction"] == value.to_s}" %>
                  <% end %>
                <% end %>

                <% request.query_parameters.except("#{filter[:key_base]}_before", "#{filter[:key_base]}_after").each do |k, v| %>
                  <%= hidden_field_tag k, v %>
                <% end %>

                <%= form.submit "Filter...", class: "w-full mt-5" %>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= yield %>
</div>
