<!DOCTYPE html>
<html lang="en" data-dark="<%= @is_dark %>">
  <head>
    <%= render "layouts/head", title_suffix: "HCB Admin", admin: true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admin", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "admin", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-snow overflow-x-hidden min-h-screen max-w-[100vw]">
    <a class="skip-to-main" href="#main">Skip to main content</a>
    <% title = yield(:title) if content_for?(:title) %>
    <% nav = Admin::Nav.new(page_title: title) %>

    <main class="app flex flex-col lg:flex-row gap-0 w-full">
      <div data-controller="sidebar">
        <button
          class="fixed top-4 pop left-4 z-10 lg:hidden backdrop-blur-xl"
          data-action="click->sidebar#open"
          aria-label="Open navigation"
          aria-controls="sidebar"
          aria-expanded="false"
          data-sidebar-target="toggle">
          <%= inline_icon "menu" %>
        </button>
        <div
          data-sidebar-target="overlay"
          class="sidebar--overlay lg:hidden overlay--hidden"
          data-action="click->sidebar#close">
        </div>
        <aside class="sidebar select-none" id="sidebar" data-sidebar-target="sidebar">
          <div class="sidebar--scroll-container">
            <div class="flex items-center gap-3 mb-2 pt-4">
              <%= render "application/logo" %>
              <span class="-mx-1.5 text-xl opacity-40">/</span>
              <span class="text-xl font-bold">HCB Admin</span>
            </div>

            <div data-controller="nav-search">
              <div class="input input-group max-w-none h-[36px]" tabindex="0">
                <%= inline_icon "search" %>
                <input
                  type="text"
                  class="bg-transparent"
                  placeholder="⇧+/ to search"
                  data-nav-search-target="input"
                  data-action="input->nav-search#filter keydown->nav-search#handleKeydown">
              </div>

              <div class="dock flex mt-2" data-nav-search-target="extraLinks">
                <%= link_to flipper_path, class: "dock__item" do %>
                  <%= inline_icon "flag", size: 32, style: "padding: 0" %>
                  <span class="flex-grow">Feature Flags</span>
                <% end %>
                <%= link_to blazer_path, class: "dock__item" do %>
                  <%= inline_icon "terminal", size: 32, style: "padding: 0" %>
                  <span class="flex-grow">Queries</span>
                <% end %>
                <%= link_to my_inbox_path, class: "dock__item" do %>
                  <%= inline_icon "receipt", size: 32, style: "padding: 0" %>
                  <span class="flex-grow">Receipts</span>
                <% end %>
              </div>

              <hr class="my-2 border-gray-200 dark:border-neutral-700" data-nav-search-target="extraLinksDivider">

              <%= turbo_frame_tag "admin_nav", src: nav_admin_index_path(title:), target: "_top", class: "w-100", data: { "nav-search-target": "frame" } do %>
                <%= render partial: "admin/nav", locals: { nav:, skeleton: true } %>
              <% end %>
            </div>
          </div>
          <div class="flex h-[1px] w-full bg-gray-200 dark:bg-neutral-700"></div>
          <%= render "application/user_menu" %>
        </aside>
      </div>

      <article class="flex-1 pt-16 lg:pt-0 lg:pl-72 w-[100%] m-0 bg-snow dark:bg-dark min-h-screen">
        <%= render(partial: "admin/flash") %>
        <div id="main" class="p-4 md:p-7 w-full overflow-x-auto">
          <div class="flex w-full mb-2 items-center gap-2">
            <h2 class="flex-1"><%= title %></h2>
            <%= yield(:admin_actions) %>
          </div>
          <%= yield %>
        </div>
      </article>
    </main>
  </body>
</html>
